* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh; 
  width: 100%;
  min-width: 320px;
}

header{
  background-color: #1F1F3D;
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

h1 {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
}

h2 {
  color: #1F1F3D;
  font-size: 30px;
}

h3 { 
  font-size: 28px;
  break-inside: avoid;
  height: 150px;
  width: 100%;
}

input,
p {
  outline: none;
}

.header__h1--yellow{
  color: #FFC30C;
}

header form {
  display: flex;
  width: 350px;
}

header button {
  background-color: #C7D3D8;
  border-radius: 2.5px 0 0 2.5px;
  border: none;
  height: 50px;
  padding: 0;
  width: 50px;
}

header img {
  height: 30px;
  width: 30px;
}

header input {
  border-radius: 0px 2.5px 2.5px 0;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  height: 50px;
  width: 100%;
}

aside {
  background-color: #587A8A;
  border-right: 2px solid #3C6577;
  height: auto;
  min-height: 92.5vh;
  min-width: 250px;
  width: 30%;
}

label {
  color: #C7D3D8;
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 0 5px 0;
}

aside input {
  border-radius: 2.5px;
  border: 2px solid #1F1F3D;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  height: 50px;
}

.aside__new-title-form input {
  width: 100%;
}

.aside__new-task-input {
  border-radius: 2.5px 0 0 2.5px;
  margin-right: -2px;
  width: 90%;
}

aside button {
  background-color: #1F1F3D;
  border-radius: 2.5px;
  border: none;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  margin: 20px auto 10px auto;
  width: 95%;
}

aside form {
  padding: 10px;
  width: 100%;
}

.aside__new-task-form-input-container {
  display: flex
}

.aside__new-task-button {
  background-color: #1F1F3D;
  border-radius: 0 2.5px 2.5px 0;
  height: 50px;
  margin: 0;
  width: 50px;
}

.aside__new-task-button p {
  font-size: 50px;
  font-weight: 400;
  margin-top: -10px;
}

:disabled {
  opacity:0.2;
}

.aside__filter-section {
  border-top: 2px solid #3C6577;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0px auto 0px auto;
  width: 100%;
}

.aside__filter-section button {
  margin-top: 30px;
}

section {
  width: 70%;
}

article {
  background-color: #FAFDFF;
  border: 2px solid #C7D3D8;
  break-inside: avoid;
  margin-bottom: 30px;
  min-height: 250px;
  padding: 10px 0 0 0;
  width: 100%;
}

.main__content {
  display: flex;
}

.section__task-list-container {
  background-color: #F3F6F7;
  column-gap: 30px;
  columns: 2 250px;
  height: auto;
  padding: 30px;
}

article h2 {
  border-bottom: 2px solid #C7D3D8;
  color: #1F1F3D;
  font-size: 20px;
  font-weight: 700;
  height: 30px;
  padding: 0 10px 0 10px;
  width: 100%;
}

.aside__top-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

article main {
  min-height: 170px;
  padding: 20px 10px 0px 10px;
}

article footer {
  border-top: 2px solid #C7D3D8; 
  display: flex;
  padding: 5px 10px 0px 10px;
  height: 50px;
  justify-content: space-between;
  align-items: flex-end;
}

article button {
  background-color: #FAFDFF;
  border: none;
}

footer div {
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  text-transform: uppercase;
  font-size: 11px;
  margin-top: 5px;
  color: #587A8A;
}

footer img {
  height: 20px;
  width: 20px;
}

li {
  font-size: 20px;
  padding-bottom: 30px;
  display: flex;
  align-items: flex-start;
}

li p {
  width: 100%;
  height: 35px;
}

li img {
  height: 20px;
  width: 20px;
  margin: 0 10px 10px 0;
}
/*Checked Item Styles*/

img.card__checked {
  content:url('images/checkbox-active.svg');
}
 
li.checked {
  color: #587A8A;
  font-style: italic;

}

.active {
  border:2px solid #782616;
  color: #FFFFFF;
  background-color: #EF4A23;
}

/*Urgent Card Styles*/

.urgent {
  background-color: #FFE89D;
  border: 2px solid #FFC30C;
}

.urgent footer{
  border-top: 2px solid #FFC30C;
}

.urgent h2 {
  border-bottom: 2px solid #FFC30C;
}

.urgent img.urgent_button {
  content: url('images/urgent-active.svg');
} 

.urgent .card__urgent_button_text {
  color: #B23A25;
}

.urgent button {
  background-color: #FFE89D;
}

/*Potential Items Styles*/

aside ul {
  padding-top: 10px;
}

.aside__potential-items-item {
  padding: 0 10px 10px 20px;
  word-wrap: normal;

}

.aside__potential-items-item img {
  width: 20px;
  height: 20px;
}

.hidden {
  display: none;
}


/*Media Queries*/

@media screen and (max-width: 724px) {
  
  .main__content {
    display: block;
  }

  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
  }

  aside,
  section {
    width: 100%;
  }

  aside {
    padding: 20px;
    height: 100%;
    min-height: auto;
  }

  h1 {
    padding-bottom: 15px;
  } 

  .aside__new-task-input {
    width: 92%;
}

@media screen and (max-width: 420px) {
  header input {
    width: 250px;
  }

  header form {
    width: auto;

  }

  h1 {
    font-size: 30px;
  }
  
}